@font-face {
  font-family: 'OriginBold';
    src: url('../fonts/Origin-Bold.ttf') format('truetype');
}

body{
  background-color: #252D36;
}

#btnDownload{
  position: relative;
  top: 100px;
}

#containerDiv{
  /*margin-top: 1%;
  margin-left: 14%;*/

  /*width: 1575px;
  height: 1055px;*/
  width: 2480px;
  height: 1772px;
  box-shadow: -3px 0 5px -3px rgba(1, 1, 1, 1), 3px 0 5px -3px rgba(1, 1, 1, 1);
}

#fondoDiv{
  background-image: url("../img/flyer2-fondo.jpg");
  background-size: cover;
  height: 87.25%;
}
#rowHeader{
  height: 17.7%;
}
#fondoiz{
  height: 100%;
}
#fondode{
  height: 100%;
  text-align: center;

}
#destino{
  position: relative;
  font-family: OriginBold;
  color: white;
  font-size: 950%;
  top:20%;
  overflow: hidden;
  text-overflow: clip;
}
#bgDiv{
  position: relative;
  background-image: url("../img/flyer2-foto1.jpg");
  background-size: cover;
  width: 97.55%;
  height: 82.3%;
  left: 2.455%;
  overflow: hidden;
}
#footer{
  background-color: #ffffff;
  width: 100%;
  height: 12.7%;
}
#rowFooter{
  height: 100%;
}
#logo{
  position: relative;
  background-image: url("../img/flyer2-logo.jpg");
  background-size: cover;
  top: 9%;
  height: 70%;
  width: 90%;
}
#divprecioArriba{
  height: 7%;
}
#precio{
  background-image: url("../img/flyer2-precio.png");
  background-position: 100%;
  background-size: cover;
  height: 30.5%;
  width: 25%;
}
#rowprecioiz{
  position: relative;
  top: 25%;
  text-align: center;
}
#precioiz{
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
#precioEditable{
  color: white;
  font-size: 900%;
  overflow: hidden;
  text-overflow:clip;
  white-space: nowrap;

}
#divprecioAbajo{
  height: 19%;
}
#divfoto2{
  height: 100%;
  width: 100%;
  border: 20px solid #C54444;
  border-radius: 60px;
}
#foto2{
  position: relative;
  background-image: url("../img/flyer2-foto2.png");
  background-size:contain;
  height: 45%;
  width: 35%;
  top: 3%;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
#iz{
  height: 100%;
}
#correo{
  position: relative;
  color: #4F5A94;
  font-size: 300%;
  text-align: center;
  top: 35%;
  overflow: hidden;
  text-overflow:clip;
  white-space: nowrap;
}
#me{
  height: 100%;
  padding-left: 0px;
}
#info{
  position: relative;
  color: #4F5A94;
  font-size: 300%;
  text-align: center;
  top: 20%;
  overflow: hidden;
  text-overflow:clip;
  white-space: nowrap;
}
#de{
  height: 100%;
  padding-left: 0px;
}

.modal-dialog{
  /*position: absolute;
  left: 50px;*/

}

.modal-content{
/*  width: 1600px;
  height: 1200px;*/
}
#fileLeft{
  display: none;
}
#fileRight{
  display: none;
}
.divTransform{
  margin-top: -30%;
  margin-left: -35%;
  transform: scale(0.5);
}
#previewImage{
  width: 100%;
  height: 100%;
}
canvas{
  width: 100%;
  height: 100%;
}
